body {
  margin: 0;
  height: 100vh;
  background-color: #a36be2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

#buttons {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: #5e2b97;
  color: white;
  border: none;
  padding: 18px 28px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
}
